@use "./../../common/forwarded.scss" as f;

.drop-menu {
  position: absolute;
  left: 16px;
  top: 40px;
  display: flex;
  column-gap: 30px;
}

.drop-menu__list {
  @include f.list-reset;
  @include f.use-Rubik;
  width: 222px;
}
.drop-menu__item:not(:last-child) {
  margin-bottom: 6px;
}

.drop-menu__link {
  @include f.link-reset;
  font-size: 16px;
  line-height: 18px;
}

.nav__item--close .drop-menu {
  display: none;
}
