@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-reset {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin use-raleway {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
}

@mixin use-Rubik {
  font-family: "Rubik", "Arial", sans-serif;
}
